{% extends "master.html" %}

{% block cus_content_title %}
    企业列表
{% endblock %}

{% block cus_search %}
    <select id="select_change_park" onchange="change_park()">
        <option value="all">所有园区</option>
        {% for park_info in park_list %}
            <option value="{{ park_info.id_str }}" {% if park_info.id_str == selected_park_id %}
                    selected="selected" {% endif %} >{{ park_info.name }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block cus_content %}
    <div class="box">
        <div class="box-body">
            <table id="table-content" class="table table-bordered table-striped dataTable table-hover"
                   style="width: 100%;">

                <colgroup>
                    {% for item in  header_list %}
                        <col/>
                    {% endfor %}
                </colgroup>
                <thead>
                <tr>
                    {% for item in  header_list %}
                        <th style="text-align: center; vertical-align: middle;">{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for item in  detail_list %}
                    <tr>
                        {% for text in item %}
                            <td style="text-align: center; vertical-align: middle;">
                                {{ text }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}

{% block cus_footer %}
    <script>

        function change_park() {
            var park_id = document.getElementById("select_change_park").value;
            window.location.href = "/supervisory/e/list/" + park_id;
        }

        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[0, "desc"]]

            });

        });
    </script>

{% endblock %}