-i https://pypi.tuna.tsinghua.edu.cn/simple
Eve==0.6.1
eve_swagger
tornado
redis
pymongo
configobj
pytz
PyYAML
requests
ujson
xmltodict
dicttoxml
APScheduler
funcsigs
tzlocal
futures
ua-parser
user-agents
python-dateutil
oss2
xlsxwriter
numpy
pycrypto
rsa
pyopenssl
celery
blinker==1.4
django