{% extends "master.html" %}

{% block cus_content_title %}
    数据库刷新
{% endblock %}

{% block cus_search %}

{% endblock %}

{% block cus_content %}

    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#user-pane" data-toggle="tab">数据库操作</a></li>
            </ul>
            <div class="tab-content">
                <div class="active tab-pane" id="user-pane">

                </div>
                <!-- /.tab-pane -->
                <div class="huoyue-pane" id="huoyue-pane">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}

                        <div style="padding: 15px; color: red;">

                            {{ alert_info }}

                        </div>
                        <button class="btn btn-default">刷新</button>

                    </form>
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">

                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="settings">

                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->



{% endblock %}

{% block cus_footer %}



{% endblock %}