{% extends "master.html" %}

{% load filter %}

{% block cus_content_title %}
    {{ vector_info.name }}维度管理
{% endblock %}

{% block cus_search %}

{% endblock %}

{% block cus_content %}

    <div class="box">
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">

                    <li class="active">
                        <a href="#tab_1-1" data-toggle="tab">{{ vector_info.name }}维度配置列表</a>
                    </li>

                </ul>
                <div style="float: right;">
                    <a id="add-new-role-vector-detail">添加新配置项</a>
                </div>
                <div class="tab-content">
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_1-1">

                        <table id="table-content"
                               class="table table-bordered table-striped dataTable table-hover"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情名称
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情别名
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情描述
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    编辑
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  data_list %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.alias }}</td>
                                    <td>{{ item.desc }}</td>
                                    <td>
                                        <a href="#"
                                           onclick='show_update_role_vector_detail({{ item | as_json | safe }});'
                                           class="update-vector-detail">修改</a>

                                        <a href="#"
                                           onclick='show_view_role_vector_detail({{ item | as_json | safe }});'
                                           class="view-group">详情</a>

                                        <a href="#"
                                           onclick='disable_role_vector_detail({{ item | as_json | safe }});'
                                           class="view-vector-detail">停用</a>
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情名称
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情别名
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    权限维度详情描述
                                </th>
                                <th style="text-align: center; vertical-align: middle;">
                                    编辑
                                </th>
                            </tr>
                            </tfoot>
                        </table>


                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


    <div id="new-role-vector-detail-box" style="display:none;">
        <form id="new-role-vector-detail-form" class="form-horizontal" method="post"
              action="">
            {% csrf_token %}

            <input type="hidden" id="txt-vector-id" name="vector-id" value="{{ vector_id }}">

            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">权限维度详情名称：</label>

                <div class="col-sm-6">
                    <input type="text" name="name"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">别名：</label>

                <div class="col-sm-6">
                    <input type="text" name="alias"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">描述：</label>

                <div class="col-sm-6">
                    <input type="text" name="desc"
                           class="form-control"/>
                </div>
            </div>

            <hr>
            <a href="javascript:void(0)" onclick="add_new_role_vector_detail()"
               class="btn btn-default">
                提交
            </a>

        </form>
    </div>
    <div id="update-role-vector-detail-box" style="display:none;">
        <form id="update-role-vector-detail-form" class="form-horizontal" method="post"
              action="">
            {% csrf_token %}
            <input type="hidden" id="txt-vector-detail-id" name="vector-detail-id">
            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">权限维度详情名称：</label>

                <div class="col-sm-6">
                    <input type="text" id="txt-name" name="name"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">别名：</label>

                <div class="col-sm-6">
                    <input type="text" id="txt-alias" name="alias"
                           class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName"
                       class="col-sm-3 control-label">描述：</label>

                <div class="col-sm-6">
                    <input type="text" id="txt-desc" name="desc"
                           class="form-control"/>
                </div>
            </div>

            <hr>
            <a href="javascript:void(0)" onclick="update_role_vector_detail()"
               class="btn btn-default btn-submit">
                提交
            </a>

        </form>
    </div>



{% endblock %}

{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content').DataTable({
                "paging": false,
                "searching": false,
                "ordering": false,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                }
            });
        });

        function add_new_role_vector_detail() {
            $.post("/role/vector/detail/add/", $("#new-role-vector-detail-form").serialize(), function (data) {
                data = JSON.parse(data);
                if (data.status === 200) {
                    $('#myModalLabel').html("添加成功...");
                    window.location.reload();
                } else {
                    alert(data.msg);
                }
            });
        }

        function update_role_vector_detail() {
            $.post("/role/vector/detail/update/", $("#update-role-vector-detail-form").serialize(), function (data) {
                data = JSON.parse(data);
                if (data.status === 200) {
                    $('#myModalLabel').html("修改成功...");
                    window.location.reload();
                } else {
                    alert(data.msg);
                }
            });
        }

        function disable_role_vector_detail() {
            alert("用户权限不足");
            return;
            $.post("/role/vector/detail/update/", $("#update-role-vector-detail-form").serialize(), function (data) {
                data = JSON.parse(data);
                if (data.status === 200) {
                    $('#myModalLabel').html("修改成功...");
                    window.location.reload();
                } else {
                    alert(data.msg);
                }
            });
        }

        function show_update_role_vector_detail(data) {
            $('#myModal').modal("toggle");
            $('#myModalLabel').html("修改权限维度详情");

            $('#update-role-vector-detail-box #txt-name').attr("value", data.name);
            $('#update-role-vector-detail-box #txt-alias').attr("value", data.alias);
            $('#update-role-vector-detail-box #txt-desc').attr("value", data.desc);
            $('#update-role-vector-detail-box #txt-vector-detail-id').attr("value", data.id);

            $('#update-role-vector-detail-box .btn-submit').show();

            $('.modal-body-content').html($('#update-role-vector-detail-box').html());
            $('.loading-img').hide();
        }

        function show_view_role_vector_detail(data) {
            $('#myModal').modal("toggle");
            $('#myModalLabel').html("权限维度详情详情");

            $('#update-role-vector-detail-box #txt-name').attr("value", data.name);
            $('#update-role-vector-detail-box #txt-alias').attr("value", data.alias);
            $('#update-role-vector-detail-box #txt-desc').attr("value", data.desc);
            $('#update-role-vector-detail-box #txt-vector-detail-id').attr("value", data.id);

            $('#update-role-vector-detail-box .btn-submit').hide();

            $('.modal-body-content').html($('#update-role-vector-detail-box').html());
            $('.loading-img').hide();
        }

        $("#add-new-role-vector-detail").click(function () {
            $('#myModal').modal("toggle");
            $('#myModalLabel').html("添加权限维度详情");
            $('.modal-body-content').html($('#new-role-vector-detail-box').html());
            $('.loading-img').hide();
        });

    </script>

{% endblock %}