{% extends "master.html" %}

{% block cus_content_title %}
    活动数据分析
{% endblock %}

{% block cus_content %}

    <div class="box">
        {#        <div class="box-header">#}
        {#            <h3 class="box-title">Data Table With Full Features</h3>#}
        {#        </div>#}
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab_1-1" data-toggle="tab">柱状图</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab">列表</a></li>

                    {#              <li class="pull-left header"><i class="fa fa-th"></i> 活动基础数据 </li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1" style="overflow: scroll;">
                        <div id="container" style="width: 100%;"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3-2">

                        <table id="table-content" class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  header_list %}
                                    {% if forloop.counter0 == 0 %}
                                        <th>{{ item }}</th>
                                    {% else %}
                                        <th>{{ item }}</th>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_list %}
                                <tr>
                                    {% for text in  item %}
                                        <td>
                                            {% if not forloop.last %}
                                                {% if forloop.counter0 == 3 %}
                                                    <a href="/activity_view_detail/{{ text.hd_id }}">{{ text.count }}</a>
                                                {% else %}
                                                    {{ text }}
                                                {% endif %}

                                            {% else %}
                                                <a href="/activity_detail/{{ text }}">查看</a>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}

{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[1, "desc"]]

            });
            var series_list = [];
            {% for header, detail in zip_header_detail_list %}
                series_list.push({
                    name: "{{ header }}",
                    data: {{ detail }}
                });

            {% endfor %}

            var xAxis_list = [];
            {% for xAxis in detail_x_header_list %}
                xAxis_list.push("{{ xAxis }}");

            {% endfor %}

            var chart = Highcharts.chart('container', {

                chart: {
                    type: 'column',
                    height: 500
                },

                title: {
                    text: '活动报名人数园区分布图'
                },

                subtitle: {
                    text: ''
                },

                legend: {
                    align: 'right',
                    verticalAlign: 'middle',
                    layout: 'vertical'
                },

                xAxis: {
                    categories: xAxis_list,
                    labels: {
                        x: 0
                    },
                    crosshair: true
                },

                yAxis: {
                    min: 0,
                    tickInterval: 5,
                    allowDecimals: false,
                    title: {
                        text: '报名数量'
                    }
                },

                series: series_list,

                responsive: {
                    rules: [{
                        condition: {

                        },
                        chartOptions: {
                            legend: {
                                align: 'center',
                                verticalAlign: 'bottom',
                                layout: 'horizontal'
                            },
                            yAxis: {
                                labels: {
                                    align: 'left',
                                    x: 0,
                                    y: -5
                                },
                                title: {
                                    text: null
                                }
                            },
                            subtitle: {
                                text: null
                            },
                            credits: {
                                enabled: false
                            }
                        }
                    }]
                }
            });


        });
    </script>

{% endblock %}