{% extends "master.html" %}

{% block cus_header %}
    <style>
        table td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block cus_content_title %}
    基础数据分析
{% endblock %}

{% block cus_content %}

    <div class="box">
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">

                    <li class="active"><a href="#tab_3-2" data-toggle="tab">列表</a></li>

                    {#              <li class="pull-left header"><i class="fa fa-th"></i> 活动基础数据 </li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1" style="overflow: scroll;">
                        <div id="container" style="width: 100%;"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3-2">

                        <table id="table-content" class="table table-bordered table-striped dataTable table-hover"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;"> 时间</th>
                                <th style="text-align: center; vertical-align: middle;"> 公众号关注总数</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增关注</th>
                                <th style="text-align: center; vertical-align: middle;"> 取消关注</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增裂变</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(包含非会员)</th>
                                <th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员)</th>
                                <!--<th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员德必)</th>-->
                                <th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总登录人次</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总登录人次(包含非会员)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 总订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日会员订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 会员订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非会员订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 非会员订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日会员订单占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 会员订单金额占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日德必订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 德必订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非德必订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 非德必订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非德必订单占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 非德必订单金额占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 登陆曲线</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  data_list %}
                                <tr>
                                    <td>
                                        {{ item.t_b_str }}~{{ item.t_e_str }}
                                    </td>
                                    <td>
                                        {{ item.all_subscribe_count }}
                                    </td>
                                    <td>
                                        {{ item.subscribe_count }}
                                    </td>
                                    <td>
                                        {{ item.un_subscribe_count }}
                                    </td>
                                    <td>
                                        {{ item.all_r_info_count }}
                                    </td>
                                    <td>
                                        {{ item.all_r_info_count_in_dobe }}
                                    </td>
                                    <td>
                                        {{ item.all_r_info_count_without_dobe }}
                                    </td>
                                    <td>
                                        <a class="reg-new-total" data-url="/reg_sep_s/{{ item.t_b }}"
                                           href="#">{{ item.r_info_count }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ item.r_info_count_in_dobe }}
                                    </td>
                                    <td>
                                        {{ item.r_info_count_without_dobe }}
                                    </td>
                                    <td>
                                        {{ item.r_from_inner_count }}
                                    </td>
                                    <td>
                                        {{ item.login_count_member }}
                                    </td>
                                    <td>
                                        {{ item.login_count_member_in_dobe }}
                                    </td>
                                    <td>
                                        {{ item.login_count_member_without_dobe }}
                                    </td>
                                    <td>
                                        {{ item.login_count }}
                                    </td>
                                    <td>
                                        {{ item.login_percent }}
                                    </td>
                                    <!--<td>
                                        {{ item.login_percent_in_dobe }}
                                    </td>-->
                                    <td>
                                        {{ item.login_percent_without_dobe }}
                                    </td>
                                    <td>
                                        {{ item.login_all_count_member }}
                                    </td>
                                    <td>
                                        {{ item.login_all_count }}
                                    </td>
                                    <td>
                                        <a class="order-total" data-url="/order_sep_s/{{ item.t_b }}"
                                           href="#">{{ item.or_info_count }}</a>
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_info_count }}
                                    </td>
                                    <td>
                                        {{ item.or_info_vip_count }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_vip_info_count }}
                                    </td>
                                    <td>
                                        {{ item.or_info_un_vip_count }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_un_vip_info_count }}
                                    </td>
                                    <td>
                                        {{ item.or_info_vip_count_percent }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_vip_info_count_percent }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_count_in_dobe }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_in_dobe }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_count_in_none_dobe }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_in_none_dobe }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_count_in_none_dobe_percent }}
                                    </td>
                                    <td>
                                        {{ item.or_dis_pri_in_none_dobe_percent }}
                                    </td>
                                    <td>
                                        <a href="/login_detail/{{ item.t_b }}">查看</a>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <th style="text-align: center; vertical-align: middle;"> 时间</th>
                                <th style="text-align: center; vertical-align: middle;"> 公众号关注总数</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增关注</th>
                                <th style="text-align: center; vertical-align: middle;"> 取消关注</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 注册会员数(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增注册(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 新增裂变</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日登陆人数(包含非会员)</th>
                                <th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员)</th>
                                <!--<th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员德必)</th>-->
                                <th style="text-align: center; vertical-align: middle;"> 登录占比(纯会员非德必)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总登录人次</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总登录人次(包含非会员)</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日总订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 总订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日会员订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 会员订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非会员订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 非会员订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日会员订单占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 会员订单金额占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日德必订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 德必订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非德必订单</th>
                                <th style="text-align: center; vertical-align: middle;"> 非德必订单金额</th>
                                <th style="text-align: center; vertical-align: middle;"> 今日非德必订单占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 非德必订单金额占比</th>
                                <th style="text-align: center; vertical-align: middle;"> 登陆曲线</th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


{% endblock %}


{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[0, "desc"]]

            });

            $(".order-total").click(function () {
                $('#myModal').modal("toggle");
                var url_path = $(this).attr("data-url");
                $('.modal-body-content').html();
                $('.loading-img').show();
                $('#myModalLabel').html("加载中...");
                $.ajax({
                    url: url_path,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        var orderCount = JSON.parse(data);
                        data_html = '<table class="table table-bordered table-striped dataTable table-hover" style="width: 100%;">';
                        data_html += '<thead><tr>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">商家ID</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">商家名称</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">所在园区</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">订单数</th>';
                        data_html += '</tr></thead>';

                        $.each(orderCount.s_or_count, function (index, ele) {
                            data_html += '<tr>';
                            data_html += '<td>' + ele[0] + '</td>';
                            data_html += '<td>' + ele[1] + '</td>';
                            data_html += '<td>' + ele[2] + '</td>';
                            data_html += '<td>' + ele[3] + '</td>';
                            data_html += '</tr>';
                        });

                        data_html += '<tfoot><tr>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">商家ID</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">商家名称</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">所在园区</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">订单数</th>';
                        data_html += '</tr></tfoot>';
                        data_html += '</table><br>';

                        data_html += '<table class="table table-bordered table-striped dataTable table-hover" style="width: 100%;">';
                        data_html += '<thead><tr>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">订单分类</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">工位会议室</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">停车场</th>';
                        data_html += '<th style="text-align: center; vertical-align: middle;">商家</th>';
                        data_html += '</tr></thead>';

                        data_html += '<tr>';
                        data_html += '<td>订单数</td>';
                        data_html += '<td>' + orderCount.group_or_count[0].toString() + '</td>';
                        data_html += '<td>' + orderCount.group_or_count[1].toString() + '</td>';
                        data_html += '<td>' + orderCount.group_or_count[2].toString() + '</td>';
                        data_html += '</tr>';
                        data_html += '</table>';

                        $('.modal-body-content').html(data_html);
                    },
                    complete: function () {
                        $('#myModalLabel').html("加载完成");

                        $('.loading-img').hide();
                    }
                });
            });

            $(".reg-new-total").click(function () {
                $('#myModal').modal("toggle");
                var url_path = $(this).attr("data-url");
                $('.modal-body-content').html();
                $('.loading-img').show();
                $('#myModalLabel').html("加载中...");
                $.ajax({
                    url: url_path,
                    cache: false,
                    success: function (data) {
                        console.log(data);
                        data_html = '<table class="table table-bordered table-striped dataTable table-hover" style="width: 100%;">';

                        data_html = data_html + '<thead><tr>';
                        data_html = data_html + '<th style="text-align: center; vertical-align: middle;">业务类型</th>';
                        data_html = data_html + '<th style="text-align: center; vertical-align: middle;">操作人数</th>';
                        data_html = data_html + '</tr></thead>';

                        $.each(JSON.parse(data), function (index, ele) {
                            data_html = data_html + '<tr>';
                            data_html = data_html + '<td>' + ele[0] + '</td>';
                            data_html = data_html + '<td>' + ele[1] + '</td>';

                            data_html = data_html + '</tr>';
                        });

                        data_html = data_html + '<tfoot><tr>';
                        data_html = data_html + '<th style="text-align: center; vertical-align: middle;">业务类型</th>';
                        data_html = data_html + '<th style="text-align: center; vertical-align: middle;">操作人数</th>';
                        data_html = data_html + '</tr></tfoot>';

                        data_html = data_html + '</table>';

                        $('.modal-body-content').html(data_html);
                    },
                    complete: function () {
                        $('#myModalLabel').html("加载完成");

                        $('.loading-img').hide();
                    }
                });
            });

        });
    </script>

{% endblock %}