{% extends "master.html" %}

{% block cus_content_title %}
    园区数据分析
{% endblock %}


{% block cus_header %}

    <style type="text/css">
        th, td {
            white-space: nowrap;
        }

    </style>

{% endblock %}

{% block cus_content %}
    <div>
        <a href="/company/all">园区各公司会员数</a>
    </div>
    <br>

    <div class="box">
        {#        <div class="box-header">#}
        {#            <h3 class="box-title">Data Table With Full Features</h3>#}
        {#        </div>#}
        <!-- /.box-header -->

        <div style="padding: 10px;">
            字段显示/隐藏：&nbsp;&nbsp;&nbsp;&nbsp;
            {% for item in  header_control_list %}
                <input type="checkbox" name="checkbox" value="value" checked id="toggle-vis-{{ forloop.counter0 }}"
                       class="toggle-vis" data-column="{{ forloop.counter0 }}">
                <label for="toggle-vis-{{ forloop.counter0 }}">{{ item }}</label>
            {% endfor %}

        </div>


        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab_1-1" data-toggle="tab">柱状图</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab">列表</a></li>

                    {#              <li class="pull-left header"><i class="fa fa-th"></i> 活动基础数据 </li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1" style="overflow: scroll;">
                        <div id="container" style="width: 100%;"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3-2">

                        <table id="table-content"
                               class="table table-bordered table-striped dataTable table-hover stripe row-border order-column"
                               style="width: 100%;">
                            <thead>
                            <tr>
                                {% for item in  header_parent_list %}
                                    {% if forloop.counter0 == 0 %}
                                        <th style="text-align: center;" rowspan="1">{{ item }}</th>
                                    {% else %}
                                        <th style="text-align: center;" colspan="8">{{ item }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_list %}
                                <tr>
                                    {% for text in  item %}
                                        <td>
                                            {{ text }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->



{% endblock %}


{% block cus_footer %}
    <script>
        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[ 0, "desc" ]]

            });

            $('.toggle-vis').on('click', function (e) {
                //e.preventDefault();
                var table = $('#table-content').DataTable();
                // Get the column API object
                var park_count = {{ header_parent_list|length }} -1;
                var column_count = {{ header_control_list|length }} ;
                var index_basic = Number($(this).attr('data-column'));
                for (i = 0; i < park_count; i++) {
                    var index = 1 + index_basic + i * column_count;
                    var column = table.column(index);
                    column.visible(!column.visible());
                }
            });


        });
    </script>

{% endblock %}