

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Data Table With Full Features</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">
                    <li><a href="#tab_1-1" data-toggle="tab">柱状图</a></li>
                    <li class="active"><a href="#tab_3-2" data-toggle="tab">列表</a></li>

                    {#              <li class="pull-left header"><i class="fa fa-th"></i> 活动基础数据 </li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1" style="overflow: scroll;">
                        <div id="container" style="width: 100%;"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3-2">

                        <table id="table-content" class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_list %}
                                <tr>
                                    {% for text in  item %}
                                        <td>
                                            {% if not forloop.last %}
                                                {% if forloop.counter0 == 3 %}
                                                    <a href="/activity_view_detail/{{ text.hd_id }}">{{ text.count }}</a>
                                                {% else %}
                                                    {{ text }}
                                                {% endif %}

                                            {% else %}
                                                <a href="/activity_detail/{{ text }}">查看</a>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


$(document).ready(function() {
    $('#example').DataTable( {
        "order": [[ 3, "desc" ]]
    } );
} );