{% extends "master.html" %}

{% block cus_content_title %}
    订单流水
{% endblock %}

{% block cus_content %}

    <div class="box">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab">订单流水</a></li>
                    <li><a href="#tab_1-2" data-toggle="tab">商户订单报表</a></li>
                    <li><a href="#tab_1-3" data-toggle="tab">订单总报表</a></li>
                </ul>
                <div class="tab-content">
                    <br>
                    <br>
                    <div class="tab-pane active" id="tab_1-1">

                        <table id="table-content-order-today"
                               class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_list %}
                                <tr>
                                    <td>
                                        {{ item.c_str }}
                                    </td>
                                    <td>
                                        {{ item.or_num }}
                                    </td>
                                    <td>
                                        {{ item.paer_id }}
                                    </td>
                                    <td>
                                        {{ item.c_name }}
                                    </td>
                                    <td>
                                        {{ item.is_vip }}
                                    </td>
                                    <td>
                                        {{ item.pe_sid }}
                                    </td>
                                    <td>
                                        {{ item.s_name }}
                                    </td>
                                    <td>
                                        {{ item.s_fw_name }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_display }}
                                    </td>
                                    <td>
                                        {{ item.dis_pri }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_1-2">
                        <table id="table-content-order-report-today"
                               class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  detail_s_header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_s_report_list %}
                                <tr>
                                    <td>
                                        {{ item.s_id }}
                                    </td>
                                    <td>
                                        {{ item.s_name }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_1 }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_2 }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_3 }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_4 }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_5 }}
                                    </td>
                                    <td>
                                        {{ item.ser_type_7 }}
                                    </td>
                                    <td>
                                        {{ item.order_count }}
                                    </td>
                                    <td>
                                        {{ item.c_pri_total }}
                                    </td>
                                    <td>
                                        {{ item.dis_pri_total }}
                                    </td>

                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  detail_s_header_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_1-3" style="overflow: scroll;">
                        <table id="table-content-order-report-all"
                               class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  order_report_all_header %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>
                                    {{ order_report_all_detail.order_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.c_pri_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.dis_pri_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.s_pri_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_price_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_pay_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_1_price_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_1_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_1_pay_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_2_price_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_2_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.yh_pri_2_pay_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.c_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.s_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.sel_type_1_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.sel_type_2_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_1_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_2_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_3_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_4_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_5_count_total }}
                                </td>
                                <td>
                                    {{ order_report_all_detail.ser_type_7_count_total }}
                                </td>

                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  order_report_all_header %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="tab_1-4">
                        <table id="table-content-park-gift"
                               class="table table-bordered table-striped dataTable table-hover">
                            <thead>
                            <tr>
                                {% for item in  header_park_gift_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_park_gift_list %}
                                <tr>
                                    {% for text in  item %}
                                        <td>
                                            {{ text }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                {% for item in  header_park_gift_list %}
                                    <th>{{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->



{% endblock %}

{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content-order-today').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[0, "desc"]]

            });
        });
    </script>

{% endblock %}