{% extends "master.html" %}

{% block cus_content_title %}
    订单数据分析
{% endblock %}

{% block cus_content %}

    <div class="box">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="table-content"
                   class="table table-bordered table-striped dataTable table-hover">
                <thead>
                <tr>
                    {% for item in  header_list %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>

                {% for item in  detail_list %}
                    <tr>
                        <td>
                            {{ item.s_id }}
                        </td>
                        <td>
                            {{ item.s_name }}
                        </td>
                        <td>
                            {{ item.ser_type_1 }}
                        </td>
                        <td>
                            {{ item.ser_type_2 }}
                        </td>
                        <td>
                            {{ item.ser_type_3 }}
                        </td>
                        <td>
                            {{ item.ser_type_4 }}
                        </td>
                        <td>
                            {{ item.ser_type_5 }}
                        </td>
                        <td>
                            {{ item.ser_type_7 }}
                        </td>
                        <td>
                            {{ item.order_count }}
                        </td>
                        <td>
                            {{ item.order_vip_count_total }}
                        </td>
                        <td>
                            {{ item.order_un_vip_count_total }}
                        </td>
                        <td>
                            {{ item.c_pri_total }}
                        </td>
                        <td>
                            {{ item.dis_pri_total }}
                        </td>
                        <td>
                            <a href="/order_s_detail/{{ item.s_id }}">查看</a>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    {% for item in  header_list %}
                        <th>{{ item }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->



{% endblock %}

{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 100,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[ 0, "desc" ]]

            });
        });
    </script>

{% endblock %}