{% extends "master.html" %}

{% block cus_content_title %}
    非德必周一次活跃度
{% endblock %}

{% block cus_search %}

{% endblock %}

{% block cus_content %}
    <div class="box">
        <div class="box-body">
            <table id="table-content" class="table table-bordered table-striped dataTable table-hover"
                   style="width: 100%;">

                {% autoescape off %}{{ week_percentage_nodobe }}{% endautoescape %}
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}

{% block cus_footer %}
    <script>

        function change_park() {
            var park_id = document.getElementById("select_change_park").value;
            window.location.href = "/company/" + park_id;
        }

        $(function () {
            var _html=$(".dataframe").html();
            console.log(_html);
            $(".dataframe").remove();
            $("#table-content").html(_html);
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                }
            });
            console.log(1)


        });
        $(function () {

        })
    </script>

{% endblock %}