{% extends "master.html" %}

{% block cus_header %}
    <style>
        table td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block cus_content_title %}
    周登录比分析
{% endblock %}

{% block cus_content %}

    <div class="box">
        {#        <div class="box-header">#}
        {#            <h3 class="box-title">Data Table With Full Features</h3>#}
        {#        </div>#}
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Custom Tabs (Pulled to the right) -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right">

                    <li class="active"><a href="#tab_3-2" data-toggle="tab">列表</a></li>

                    {#              <li class="pull-left header"><i class="fa fa-th"></i> 活动基础数据 </li>#}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="tab_1-1" style="overflow: scroll;">
                        <div id="container" style="width: 100%;"></div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane active" id="tab_3-2">

                        <table id="table-content" class="table table-bordered table-striped dataTable table-hover" style="width: 100%;">
                            <thead>
                            <tr>
                                {% for item in  header_list %}
                                    <th style="text-align: center; vertical-align: middle;"> {{ item }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in  detail_list %}
                                <tr>
                                    <td>
                                        {{ item.t_b_str }}~{{ item.t_e_str }}
                                    </td>
                                    <td>
                                        {{ item.all_r_info_count }}
                                    </td>
                                    <td>
                                        {{ item.login_count }}
                                    </td>
                                    <td>
                                        {{ item.login_percent }}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>

                            <tr>
                                {% for item in  header_list %}
                                    <th style="text-align: center; vertical-align: middle;"> {{ item }}</th>
                                {% endfor %}
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->


{% endblock %}


{% block cus_footer %}

    <script>
        $(function () {
            $('#table-content').DataTable({
                "fixedHeader": true,
                "pageLength": 25,
                "scrollY": "50vh",
                "scrollX": true,
                "scrollCollapse": true,
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "language": {
                    "info": "页 _PAGE_ / _PAGES_",
                    "lengthMenu": "每页 _MENU_ 条",
                    "paginate": {
                        "previous": "向前 ",
                        "next": " 向后"
                    }
                },
                "fixedColumns": {
                    leftColumns: 1
                },
                "order": [[0, "desc"]]

            });
        });
    </script>

{% endblock %}